html {
    color: white;
    cursor: url('images/cursor.png'), auto;
}

/*This changes what the cursor looks like*/

header {
    margin: 0;
}

/*margin fixer*/

@font-face {
    font-family: Futura;
    src: url('fonts/futura.otf');
} /*adds the custom font to the website, originally was 2 but cut down to one because it was just too busy*/

p {
    font-family: 'Futura', 'Courier New', Courier, monospace;
    padding-left: 2%;
    padding-right: 2%;
    text-indent: 20px;
    font-size: large;
} /*Tells the browser to use the font for the text*/

h1 {
    font-family: 'Futura', 'Courier New', Courier, monospace;
    position: relative;
    text-decoration: underline;
    text-align: center;
} /*Tells the browser to use the font for the text*/

li {
    font-family: 'Futura', 'Courier New', Courier, monospace;
    font-size:medium;
    line-height: 1.9lh;
} /*Tells the browser to use the font for the text*/

main {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    grid-template-rows: auto auto auto auto;
    grid-gap: 0px;
    grid-template-areas:
        "head head head head"
        "left left sub sub"
        "left left sub sub"
        "left left misc help";
} /*primary grid template for the site*/

body {
    background-image: url("images/backgroundmap.png");
    position: relative;
    background-repeat: no-repeat;
    background-size: cover;
    padding-left: 20%;
    padding-right: 20%;
} /*here's the background image for the website*/

div {
    border: 5px;
    border-color: white;
    border-style: solid;} /*this sets up the white borders separating the various articles*/

.help {
    grid-area: help;
} /*grid area for the help section*/

.header {
    max-width: 100%;
    text-align: center;
    background-color: rgba(0, 0, 0, .75);
    font-size: larger;
    grid-area: head;
} /*grid area for the main heading*/

.article {
    grid-area: left;
    background-color: rgba(0, 0, 0, .75);
    position: relative;
    text-overflow: ellipsis;
    line-height: 1.5lh;
} /*grid area for the main article*/


.misc {
    background-color: rgba(0, 0, 0, .75);
    text-align: center;
    font-size: medium;
    grid-area: misc;
} /*grid area for the misc section*/

.misc h1{
    background-color: rgba(0, 0, 0, .75);
    margin:auto;
} /*the following few sections set opactiies for the header text*/

.classifieds {
    grid-area: help;
    background-color: rgba(0, 0, 0, .75);
}

.classifieds h1{
    background-color: rgba(0, 0, 0, .75);
    margin:auto;
}

.sub {
    background-color: rgba(0, 0, 0, .75);
    text-align: left;
    line-height: 1.5em;
    grid-area: sub;
} /*thing for the sub article*/

img {
    width: 100%;
} /*setting image sizes*/

.exit {
    position: fixed;
    top:3%;
    right:3%;
    max-width: 4%;
} /*setting up where the return button is*/

@media (max-width: 1451px){

    main {
        display: grid;
        grid-template-columns: 1fr 1fr;
        grid-template-rows: auto auto;
        grid-gap: 0px;
        grid-template-areas:
            "head head "
            "left left"
            "sub sub"
            "misc help";
    }   
}
/*the media*/
@media (max-width:750px){

    main{
        display: grid;
        grid-gap: 0px;
        grid-template-columns: 1fr;
        grid-template-areas: 
        "head" "head"
        "left" "left"
        "sub" "sub"
        "misc" "misc"
        "help" "help";
    }
    
}
